<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
      <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
      <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
   </head>
   <body>
      <!--<audio src="/audio.mp3" preload="auto" autoplay="autoplay" loop></audio>-->
      <marquee class="text-error" bgcolor="black" direction="right">#SALAM TEKNIK ☠️</marquee>
      <div class="container pt-2">
           <header class="navbar">
              <section class="navbar-section">
                <a href="/" class="btn btn-link">Home</a>
                <a href="/adduser" class="btn btn-link">Login</a>
                <a href="/show-log" class="btn btn-link">Aktivitas</a>
                <a href="/about" class="btn btn-link">About</a>
              </section>
            </header> 
         <div class="columns p-2">
            <main class="column col-xl-8 col-md-11 col-mx-auto">
               <div class="bg-gray p-2 m-2">
                   <h5 class="m-2 text-center">{{ title }}</h5>
               </div>
               <div class="card">
                  {{{ html }}}
               </div>
            </main>
         </div>
         <script>
            document
               .querySelector(`.navbar-section>a[href='${window.location.pathname}']`)
               .classList.add('active')
         </script>
      </div>
   </body>
</html>